body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.form-container {
    max-width: 210mm;
    margin: 25px auto 10px auto;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #f2f2f2;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 0;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-col {
    flex-basis: 48%;
}

.divider {
    border-top: 1px solid #000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.center-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CSS for dropdown with arrow */
.dropdown-with-arrow {
    position: relative;
    display: inline-block;
}

.dropdown-arrow {
    position: absolute;
    top: calc(50% - 2.5px); /* Adjust to vertically center the arrow */
    right: 8px; /* Adjust distance from the select box */
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000; /* Change color if desired */
}
