html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: "Publico Text", serif;
}

.logo {
  width: 125px;
  height: auto; 
}

.navbar {
  visibility: visible;
}

.bg-custom {
  background-color: #000033 !important; /* Mørke blå bakgrunnsfarge */
}

.custom-nav-text .nav-link {
  color: #f2f2f2 !important; /* Hvit tekst farge */
}

