@model bacit_dotnet.MVC.Models.CheckList.CheckListViewModel

@{
    ViewData["Title"] = "Utfylt Sjekkliste";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utfylt Sjekkliste</title>
    <link rel="stylesheet" href="/css/Checklist.css">
</head>
<body>


<br>
<label for="freeform">Kommentar:</label>
<input for="Address" class="form-control" type="text" value="@Model.Freeform" readonly="readonly"/>
<span validation-for="Address" class="text-danger"></span>
<br>
<textarea id="freeform" name="freeform" rows="6" cols="115"></textarea>
<br>
<br>
<label for="Sign">Signatur:</label>
<input for="Sign" class="form-control" type="text" value="@Model.Sign" readonly="readonly"/>
<span validation-for="Sign" class="text-danger"></span>
<br>
<input type="text" id="Sign" name="Sign">
<br>
<label for="CompletionDate">date:</label>
<input for="CompletionDate" class="form-control" type="text" value="@Html.DisplayFor(model => Model.CompletionDate)" readonly="readonly"/>
<span validation-for="CompletionDate" class="text-danger"></span>
<br><br/>
<button type="submit" class="btn btn-primary">Send inn</button>

</body>
</html>